<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lmsapp">

    <application
        android:allowBackup="true"
        android:label="LMS App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMSApp">

        <!-- Activities without intent filters - set to false for security -->
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AddCourseActivity"
            android:exported="false" />

        <activity
            android:name=".student.StudentDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".instructor.InstructorDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".instructor.AssignmentGradingActivity"
            android:exported="false" />

        <!-- Main launcher activity - must be exported to be launched by system -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".instructor.CourseStudentsActivity"
            android:exported="false" />
    </application>

</manifest>